:root{
    --title-color: #417296; /* Midnight Blue*/
    --secondary-background-color: #5885AF; /* Blue Grey*/
    --background-color: #274472; /* Dark Blue */
    --tertiary-color: #C3E0E5; /* Baby Blue */
}

* {
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;

}

header {
    background-color: var(--tertiary-color);
    border-bottom-color: black;
    border-bottom-width: 2px;
    font-size: 36px;
    border-style: groove;
}

#portfolio-picture {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
    display: block;
}
h1 {
    font-size: 48px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight:lighter;
    text-align: center;
}

#about-me h2 {
    font-size: 36px;
    color: var(--tertiary-color)
}


nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0% 15% 0% 15%;
    
}

nav > ul > li {
    text-decoration: underline;
    margin: 12px;
}

#about-me {
    background-color: var(--background-color);
    padding: 0% 12% 0% 12%;

}

#about-me > p {
    font-size: 18px;
    line-height: 24px;
    padding: 1% 0% 1% 0%;

    color: var(--tertiary-color);
}

#contact-me {
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}
#contact-me h2 {
    font-size: 34px;
    text-align: center;
}

#contact-me > div {
    font-size: 24px;
    vertical-align: baseline;
}

/* Taken from Section 02 in the Bootcamp repository */
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
/*common breakpoints for widths of devices:
  • 320px — 480px: Mobile devices
  • 481px — 768px: iPads, Tablets
  • 769px — 1024px: Small screens, laptops
  • 1025px — 1200px: Desktops, large screens*/

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    #about-me  {
        
        padding: 0% 10% 0% 10%;
    }
    #contact-me h2 {
        font-size: 24px;
        text-align: center;
    }
    
    #contact-me > div {
        font-size: 18px;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    #about-me {
        background-color: aqua;
        padding: 0% 8% 0% 8%;
    }
    #contact-me h2 {
        font-size: 18px;
        text-align: center;
    }
    #contact-me > div {
        font-size: 12px;
    }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    #about-me {
        padding: 0% 5% 0% 5%;
    }
    #contact-me h2 {
        font-size: 12px;
        text-align: center;
    }
    #contact-me > div {
        font-size: 8px;
    }
}